extends layout

block content
  a(href="/credits/list") Back to list
  h3.
    Credit Details (#{data.credit}: #{data.name})
  h4.
    Credit Type
  span #{data.credit_type}
  br
  h4.
    Credit ID
  span #{data._id}
  br
  h4.
    Crew Member
  if data.crew_id
    a(href="/crew/member/"+data.crew_id._id) #{data.crew_id.name}
    br
    - var tbr = { credit: data._id, crew: data.crew_id._id };
    - var string_tbr = Buffer.from(JSON.stringify(tbr)).tostring('base64');
    a(href="/credits/remove/"+string_tbr) Remove
  else
    - var url_obj = { action: 'toCredit', credit: data._id };
    - var string_obj = Buffer.from(JSON.stringify(url_obj)).tostring('base64');
    a(href="/credits/attach/"+stringObj) Attach
  br
  h3.
    Notes
  table
    tr
      th Created
      th Label
      th Note
      th Actions
    each note in data.notes
      tr
        td #{moment(note.created).format("YYYY-MM-DD")}
        td
          a(href="/notes/"+note._id) #{note.name}
        td #{note.contents}
        td
    tr
      td
      td
      td
      td
        - var url_data = { type: "credit", target: data._id };
        - var string_data = Buffer.from(JSON.stringify(url_data)).tostring('base64');
        a(href="/notes/new/"+string_data) Add
