extends layout

block content  
  a(href="/crew/list") Back to list
  h3.
    Crew Profile (#{data.name})
  h4.
    Progress Interval
  span #{data.interval}
  br
  h4.
    Crew ID
  span #{data._id}
  br
  h3.
    Credits
  table
    tr
      th Credit
      th Credit Type
      th Notes
      th Actions
    each credit in data.credits
      tr
        td 
          a(href="/credits/credit/"+credit._id) #{credit.credit}
        td
          if credit.credit_type
            span #{credit.credit_type}
        td
          each note in credit.notes
            a(href="/notes/"+note._id) #{note.name}
            br
        td
          - var tbr = { credit: credit._id, crew: data._id };
          - var string_tbr = Buffer.from(JSON.stringify(tbr)).toString('base64');
          a(href="/credits/remove/"+string_tbr) Remove
    tr
      td
      td
      td
      td
        - var url_obj = { target: data._id };
        - var string_obj = Buffer.from(JSON.stringify(url_obj)).toString('base64');
        a(href="/credits/new/"+string_obj) Add
        br
        br
        - var url_obj = { action: 'toCrew', crew: data._id };
        - var string_obj = Buffer.from(JSON.stringify(url_obj)).toString('base64');
        a(href="/credits/attach/"+string_obj) Attach
  h3.
    Notes
  table
    tr
      th Created
      th Label
      th Note
      th Actions
    each note in data.notes
      tr
        td #{moment(note.created).format("YYYY-MM-DD")}
        td
          a(href="/notes/"+note._id) #{note.name}
        td #{note.contents}
        td
          a(href="/notes/delete/"+note._id) Delete
    tr
      td
      td
      td
      td
        - var url_data = { type: "crew", target: data._id };
        - var string_data = Buffer.from(JSON.stringify(url_data)).toString('base64');
        a(href="/notes/new/"+string_data) Add
